{% extends 'hospital/homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Olá, Admin</h1>
  <p class="lead">Bem vindo ao Sistema de Gerenciamento Hospitalar.</p>
  <hr class="my-4">
  <p>Você pode acessar diversos recursos depois de logar ou se cadastrar.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">Registrar conta</a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
