{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Olá, Paciente</h1>
  <p class="lead">Bem vindo ao sistema de Gerenciamento de Clínica</p>
  <hr class="my-4">
  <p>Você poderá acessar várias funções realizando o cadastro ou login</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Cadastro</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
